
@{
    ViewBag.Title = "Editare produs";
}

<form method="post" action="/Products/Edit/@ViewBag.Product.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    <label>Nume</label>
    <br />
    <input type="text" name="Title" value="@ViewBag.Product.Title" />
    <br />
    <label>Descriere</label>
    <br />
    <input type="text" name="Description" value="@ViewBag.Product.Description" />
    <br />
    <label>Pret</label>
    <br />
    <input type="number" step="0.01" name="Price" value="@ViewBag.Product.Price" /> <!-- :C -->
    <br />
    <select name="CategoryId">
        @foreach(var category in ViewBag.Categories)
        {
            <option @{if(category.CategoryId == ViewBag.Category.CategoryId){
                        @:selected="selected"
                        }

                    }
                    value="@category.CategoryId">@category.CategoryName
        </option>
        }
    </select>
    <br />
    <button type="submit">Modifica produs</button>
</form>

